body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    --gradient-x: 50%;
    --gradient-y: 50%;
    --gradient-opacity: 0;
  }
  
  .banner-bg {
    background-image: url('images/erindale_rope_bridge_banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
  }
  
  .blur-banner .banner-bg {
    filter: blur(20px) brightness(0.8);
    transition: filter 0.3s;
  }
  
  .banner:before {
    content: '';
    background-image: radial-gradient(circle closest-side, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    background-position: var(--gradient-x) var(--gradient-y);
    opacity: var(--gradient-opacity);
    transition: opacity 0.3s;
  }
  
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .link img {
    width: 48px;
    height: 48px;
    display: block;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

    .link span {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.3s, transform 0.3s;
}

    .link:hover {
    color: #f1c40f;
}

    .link:hover img {
    transform: translateY(-5px);
}

    .link:hover span {
    opacity: 1;
    transform: translateY(0);
}
